*{
    padding: 0px;
    margin: 0px;
    outline: 0px;
}
a,a:hover{
    text-decoration: none;
}
.navbar{
    padding: 0px;
    background-color: #FFFFFF;
}
.navbar-brand{
    padding: 0px;
}
.navbar-nav .nav-item .nav-link{
    font-size: 18px;
    font-family: sans-serif;
    padding:16px 25px;
    color: black;
    border-radius: 10px;
}
.navbar-nav .nav-item .nav-link.active{
    color: white;
    background-color: rgba(0, 0, 0, .7);
}
.navbar-nav .nav-item .nav-link:hover{
    background-color: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 10px;
    
}
.awe p{
    text-align: justify;
    padding: 10px;
    line-height: 30px;
}
.yout h6{
    padding: 10px;
}
.product{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20px;  
   background-color: rgba(255,255,255, 0.90);
    width: 90%;
    margin: auto;
    padding: 8px 0px;
   

}
.gallerycontent2{
    position: relative;
    
}
.product h6{
    line-height: 20px;
    font-size: 15px;
}
.gallerycontent2 img{
      transition: all linear .3s;
}
.gallerycontent2:hover img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all linear .3s;
}
.banner{
    background: url(../image/yes2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}